.fighter-preview___root {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 350px;
}

.fighter-preview___right {
    align-items: center;
}

.fighter-preview___left {
    align-items: center;
}

.fighter-preview___props-box {
    max-width: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(9, 3, 97, 0.7);
    color: white;
    font-size: 18px;
}